{{/*
  Use the value of the page urls to query the register
*/}}
{{- $id := .Page.Permalink | path.BaseName -}}
<div class="header">Register entry for
  <span class="ui blue text"><code>{{ $id }}</code></span></div>
<hr />
  <div id="mrx-reg-response"></div>

<script>
// Query the register when the document is ready
$( document ).ready(function() {
  $("#mrx-reg-response").text( "waiting" )

$.ajax({
    url: "https://postman-echo.com/get",
    type: 'GET',
    cache: false,
    success: function(result) {
        //  alert(jQuery.dataType);
        if (result) {
            //  var dd = JSON.parse(result);
            alert(result[0].Id)
            $("#mrx-reg-response").text( JSON.parse(data) )
        }
    },
    error: function( data ) {
      $("#mrx-reg-response").text( JSON.parse(data) )
    }
})
$("#mrx-reg-response").html(  "<code id=\"mrx-reg\" class=\"language-javascript\">{\"url\":\"/reg/{{$id}}\"}</code>" )
Prism.highlightElement($('#mrx-reg ')[0]);
})
</script>