{{- $file := printf "layout/partial/%s.html" .demoPartial -}}
<div class="ui fluid grid">
  {{/* --- row ------------------------------------------------------------ */}}
  <div class="ui middle aligned row">
    <div class="two wide centered column">
      {{ partial "nab2024/thumbs-mp4.html" . }}
    </div>
    <div class="two wide centered column">
      selector for resolution
    </div>
    <div class="ten wide centered column">
      player + metadata
    </div>
    <div class="two wide centered column">
      mrx meta-meta-data
    </div>
  </div>
</div>
{{/* --- row ------------------------------------------------------------- */}}
</div>