<div class="ui small images">
  <video class="ui image" autoplay="1" loop="1" controls="1" muted="1">
    <source src="/meeja/mrx1-beach.mp4">
  </video>
  <video class="ui image" autoplay="1" loop="1" controls="1" muted="1">
    <source src="/meeja/mrx2-fire.mp4">
  </video>
  <video class="ui image" autoplay="1" loop="1" controls="1" muted="1">
    <source src="/meeja/mrx3-roar.mp4">
  </video>
  <video class="ui image" autoplay="1" loop="1" controls="1" muted="1">
    <source src="/meeja/mrx4-fish.mp4">
  </video>
  <video class="ui image" autoplay="1" loop="1" controls="1" muted="1">
    <source src="/meeja/mrx5-explainer.mp4">
  </video>
</div>
