{{/* --- nab24-card -----------------------------------------------------------
Params {position}:
_____header {0}: "DemoName"
_______meta {1}: "Subtitle"
___mediaUrl {2}: "/img/backer/signiant-logo.png"
__detailUrl {3}: "link to the detail page"
description {4}: "some text that comes before .Inner"
*/}}
{{- $header := .Get 0 -}}{{ with .Get "header" }}{{ $header = . }}{{- end -}}
{{- $meta := .Get 1 -}}{{ with .Get "meta" }}{{ $meta = . }}{{- end -}}
{{- $mediaUrl := .Get 2 -}}{{ with .Get "mediaUrl" }}{{ $mediaUrl = . }}{{- end -}}
{{- $detailUrl := .Get 3 -}}{{ with .Get "detailUrl" }}{{ $detailUrl = . }}{{- end -}}
{{- $description := .Get 4 -}}{{ with .Get "description" }}{{ $description = . }}{{- end -}}
<div class="card">
 {{/* --- image / video --------------------------------------------------*/}}
 <div class="image" style="background-color:#AAAAAA;">
  <img src="{{ $mediaUrl }}" />
 </div>
 {{/* --- content of card ------------------------------------------------*/}}
 <div class="content">
  {{/* --- header with link ---------------------------------------------*/}}
  {{- with $header }}<div class="header"><a href="{{$detailUrl}}">{{ . }}</a></div>{{ end -}}
  {{- with $meta }}<div class="meta">{{ . }}</div>{{ end -}}
  <div class="description">
   {{ $description }}{{- .Inner -}}
  </div>
  <div class="extra content">
   <div class="ui one buttons">
    <div class="ui basic fluid indigo button" onclick="window.location.href='{{$detailUrl}}'">Go To Demo</div>
   </div>
  </div>
 </div>
</div>